<html>
    <head>
        <title>{{title}}</title>
        <link rel="stylesheet" href="/assets/style.css">
    </head>
    <body>
        <nav>
            <ul>
                <li><a href="/">home</a></li>
                <li><a href="/about">about</a></li>
            </ul>
        </nav>
    <h1></h1>
    <h2>{{title}}</h2>
    {{content| safe}}

    <p id="social">ecco i miei social</p>
    </body>
</html>